.manage_user {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  height: 100%;
  /* padding: 1rem 0; */
}

.store_selector_menu {
  position: relative;
  flex: 1;
  width: 100%;
}

.store_selector_menu_scrollview {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: .75rem;
  overflow-y: scroll;
}

.store_button {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  border: 0;  
  padding: 1rem 1rem;
  border-radius: 12px;
  text-align: center;
}

.store_button_stat_row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.store_stat_widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem .75rem;
  border-radius: 8px;
}

.stat_widget_label {
  font-size: 1.35rem;
  font-weight: 700;
}
.stat_widget_big_dollar {
  font-size: 1.5rem;
  font-weight: 900;
}
.store_widget_location_row {
  font-size: 1.75rem;
}