.home_view {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
  background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
  background: radial-gradient(circle at 106.4% 21.8%, rgb(14, 72, 222) 0%, rgb(3, 22, 65) 74.2%); 
  background-size: 100% 100%;
background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
background-image: repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%),
                  repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%),
                  radial-gradient(99% 99% at 109% 2%, rgb(3, 163, 207) 0%, #073AFF00 100%),
                  radial-gradient(99% 99% at 21% 78%, rgb(123, 0, 255) 0%, #073AFF00 100%),
                  radial-gradient(160% 154% at 711px -303px, #2000FFFF 0%, #073AFFFF 100%); 
}



.bottom_nav {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;  
  height: 75px;  
    background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);  
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
    /* padding: .5rem 0; */
  padding-bottom: calc(.5rem + env(safe-area-inset-bottom));
}

.nav_icon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  /* background-color: red; */
}