.home_view {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
  background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
  background: radial-gradient(circle at 106.4% 21.8%, rgb(14, 72, 222) 0%, rgb(3, 22, 65) 74.2%); 
  background-size: 100% 100%;
background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
background-image: repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%),
                  repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%),
                  radial-gradient(99% 99% at 109% 2%, rgb(3, 163, 207) 0%, #073AFF00 100%),
                  radial-gradient(99% 99% at 21% 78%, rgb(123, 0, 255) 0%, #073AFF00 100%),
                  radial-gradient(160% 154% at 711px -303px, #2000FFFF 0%, #073AFFFF 100%); 
}


.bottom_nav {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  background-color: red;
  height: 75px;  
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  /* border-radius: 1rem; */
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
}
.bottom_nav::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  /* border-radius: 1rem; */
  backdrop-filter: blur(1px);
  box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
              inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
  opacity: 0.6;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);

}