.quick_view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: snow;
  flex: 2;
  gap: .5rem;
  padding: .75rem;
  /* padding-top: .5rem; */
}


.quick_view_report {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: .75rem;
  width: 100%;
  height: 100%;
  aspect-ratio: unset;
  border-radius: 1rem;
  padding: 1rem .5rem;
}

.page_dot {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 50%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.168);
  border-bottom: 0;  
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.page_dot.active {
 background:transparent;
 box-shadow: none; 
 border: 1px solid rgba(255, 255, 255, 0.413); 
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}