.manage_user {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  height: 100%;
  /* padding: 1rem 0; */
}

.manage_user_section,
.manage_user_button_section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;  
}
.manage_user_section {
  padding: 0 1rem;
}
.manage_user_button_section {
  padding: 0;
}
.manage_user_section:last-child {
  padding: 0 .75rem;
  padding-bottom: .75rem;
}


.label {
  font-size: 1.75rem;
  font-weight: 700;
  color: rgba(255, 250, 250, 0.848);
}



.panel_section,
.panel_section_row {
  display: flex;
  gap: .5rem;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff33;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.168);
  border-radius: 16px;
  padding: .75rem;
}
.panel_section_row {
  flex-direction: row;
}
.panel_section_row.space_between {
  justify-content: space-between;
}



.dropdown_panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  top: 0;
  left: 0;
  width: 100%;
  padding: .75rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  z-index: 1;
  opacity: 0;
  transform-origin: top center;
  transform: scale(0);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}
.dropdown_panel.showing {
  transform: scale(1);
  opacity: 1;
}

.user_settings_panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(2, 5, 9, 0.894);
  border-radius: 0 0 12px 12px;
  border: 2px solid rgba(255, 255, 255, 0.488);
  border: 2px solid rgb(2, 5, 9);
  z-index: 1;
  opacity: 0;
  transform-origin: top center;
  transform: scale(0);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}
.user_settings_panel.showing {
  transform: scale(1);
  opacity: 1;
}

.manage_use_settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(2, 5, 9, 0.894);
  border-radius: 0 0 12px 12px;
  border: 2px solid rgba(255, 255, 255, 0.488);
  z-index: 1;
  opacity: 0;
  transform-origin: top center;
  transform: scale(0);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}
.manage_use_settings.showing {
  transform: scale(1);
  opacity: 1;
}

.admin_checkbox {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem 0;
  border-radius: 8px;
}

.user_list_panel {
  width: 100%;  
  border-radius: 8px;
  flex: 1;

}
.user_list_panel_title {
  width: 100%;
  padding: .25rem .5rem;
  font-size: 1.75rem;
  font-weight: 800;
  text-align: center;
  color: #fffafa;
  /* color: #504E4C; */
    border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.access_code_modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 2rem;  
  z-index: 1;
  /* background-color: #555555c8; */
}
.access_code_modal_container {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  /* padding: 2rem 2rem; */
  padding-top: 1rem;
  background-color: #555;
  border-radius: 10px;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(2, 5, 9, 0.894);
  
}
.access_code_modal_container p.sub_heading_p {
  font-size: 1.75rem;
  font-weight: 800;
  color: snow;
  text-align: center;
}
.access_code_modal_container p {
  padding: 0 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: snow;
  text-align: justify;
}

.access_code_display_panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: .75rem;
  margin: .5rem 0;
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);  
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
  padding: 1.25em;
  border-radius: 8px;
}
.access_code_display_panel div:first-child {
  font-size: 2rem;
  font-weight: 900;
  color: rgba(255, 250, 250, 0.498);
  text-align: center;
}
.access_code_display_panel div:last-child {
  font-size: 2rem;
  color: snow;
  text-align: center;
  font-weight: 900;
}



.user_row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: .25rem 0;
}
.store_row {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: .75rem;
  border-radius: 8px;
  width: 100%;
}
.store_row.active {
  box-shadow: 0 4px 12px rgba(0, 166, 255, 0.578), inset 0 4px 12px rgba(0, 166, 255, 0.578);
}