.manage_user {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  height: 100%;
  /* padding: 1rem 0; */
}

.manage_user_section,
.manage_user_button_section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;  
}
.manage_user_section {
  padding: 0 1rem;
}
.manage_user_button_section {
  padding: 0;
}
.manage_user_section:last-child {
  padding: 0 .75rem;
  padding-bottom: .75rem;
}


.label {
  font-size: 1.75rem;
  font-weight: 700;
  color: rgba(255, 250, 250, 0.848);
}



.panel_section,
.panel_section_row {
  display: flex;
  gap: .5rem;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff33;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.168);
  border-radius: 16px;
  padding: .75rem;
}
.panel_section_row {
  flex-direction: row;
}
.panel_section_row.space_between {
  justify-content: space-between;
}



.dropdown_panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  top: 0;
  left: 0;
  width: 100%;
  padding: .75rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  z-index: 1;
  opacity: 0;
  transform-origin: top center;
  transform: scale(0);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}
.dropdown_panel.showing {
  transform: scale(1);
  opacity: 1;
}

.user_settings_panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(2, 5, 9, 0.894);
  border-radius: 0 0 12px 12px;
  border: 2px solid rgba(255, 255, 255, 0.488);
  border: 2px solid rgb(2, 5, 9);
  z-index: 1;
  opacity: 0;
  transform-origin: top center;
  transform: scale(0);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}
.user_settings_panel.showing {
  transform: scale(1);
  opacity: 1;
}

.manage_use_settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(2, 5, 9, 0.894);
  border-radius: 0 0 12px 12px;
  border: 2px solid rgba(255, 255, 255, 0.488);
  z-index: 1;
  opacity: 0;
  transform-origin: top center;
  transform: scale(0);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}
.manage_use_settings.showing {
  transform: scale(1);
  opacity: 1;
}











.user_row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: .25rem 0;
}
