.manage_user {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  height: 100%;
  padding: 0 1rem 1rem 1rem;
  
}

.manage_user_section,
.manage_user_button_section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;  
}
.manage_user_section {
  padding: 0 1rem;
}
.manage_user_button_section {
  padding: 0;
}
.manage_user_section:last-child {
  padding: 0 .75rem;
  padding-bottom: .75rem;
}


.label {
  font-size: 1.75rem;
  font-weight: 700;
  color: rgba(255, 250, 250, 0.848);
}



.panel_section,
.panel_section_row {
  display: flex;
  gap: .5rem;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff33;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.168);
  border-radius: 16px;
  padding: .75rem;
}
.panel_section_row {
  flex-direction: row;
}
.panel_section_row.space_between {
  justify-content: space-between;
}



.dropdown_panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  top: 0;
  left: 0;
  width: 100%;
  padding: .75rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  z-index: 1;
  opacity: 0;
  transform-origin: top center;
  transform: scale(0);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}
.dropdown_panel.showing {
  transform: scale(1);
  opacity: 1;
}

.user_settings_panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(2, 5, 9, 0.894);
  border-radius: 0 0 12px 12px;
  border: 2px solid rgba(255, 255, 255, 0.488);
  border: 2px solid rgb(2, 5, 9);
  z-index: 1;
  opacity: 0;
  transform-origin: top center;
  transform: scale(0);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}
.user_settings_panel.showing {
  transform: scale(1);
  opacity: 1;
}

.manage_use_settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(2, 5, 9, 0.894);
  border-radius: 0 0 12px 12px;
  border: 2px solid rgba(255, 255, 255, 0.488);
  z-index: 1;
  opacity: 0;
  transform-origin: top center;
  transform: scale(0);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}
.manage_use_settings.showing {
  transform: scale(1);
  opacity: 1;
}







.current_user_icon_button {
  position: absolute;
  top: -30px;
  right: 15px;
  z-index: 1;
  border: 2px solid transparent;
  border-radius: 50%;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);  
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.1);  
  overflow: hidden;
  padding: .25rem;color: #00800096;
}


.user_details_popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: calc(100% + .75rem);
  width: 100%;
  padding: 1rem;
  z-index: 1;
  background: rgba(0, 119, 255, 0.664);
  border-radius: 1rem;
  backdrop-filter: blur(50px) saturate(10%);
  border: 1px solid rgb(0, 102, 255);
  border-radius: 1.5rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
}


.panel {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
}
.panel::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(1px);
  box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
              inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
  opacity: 0.6;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);

}
.panel {
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);  
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.user_row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: .25rem 0;
}
