.report_view_template {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 1rem;
  padding: 1rem 0;
  width: 100%;
}


.report_view_row_tmplate {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: .25rem;
}

.report_button_row {    
  position: relative;
  width: 100%;  
  height: 100%;  
}

.report_button {
  display: inline-flex;
  width: 75%;
  height: 100%;
  border-radius: 1rem;
  padding: .75rem;
  margin: 0 .5rem;
    position: relative;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
  overflow: clip;
}
.report_button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(1px);
  box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
              inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
  opacity: 0.6;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);

}


/* .report_button {
  --c1: #00a36a;
    --c2: #236aa0;
    --c3: #29325d;
    --c4: #302d40;
    --noise-opacity: 0.06; 
     overflow:hidden;
  background:
      linear-gradient(120deg, var(--c1) 0%, rgba(0,163,106,0.9) 12%, rgba(35,106,160,0.85) 40%, rgba(41,50,93,0.9) 70%, var(--c4) 100%);
      background-blend-mode: screen;
}
.report_button::before{
    content:"";
    position:absolute;
    inset: -20%;
    background:
      repeating-linear-gradient(
        135deg,
        rgba(255,255,255,0.03) 0 6px,
        rgba(255,255,255,0.00) 6px 18px
      ),
      linear-gradient(180deg, rgba(0,0,0,0.08), rgba(255,255,255,0.02));
    transform:rotate(-6deg) scale(1.2);
    filter: blur(8px) contrast(1.05);
    pointer-events:none;
    mix-blend-mode: overlay;
    opacity:0.9;
  }
  .report_button::after{
    content:"";
    position:absolute;
    left:-10%;
    top:-10%;
    width:80vmax;
    height:80vmax;
    background: radial-gradient(circle at 10% 10%, rgba(255,255,255,0.06), transparent 15%),
                radial-gradient(circle at 80% 80%, rgba(255,255,255,0.03), transparent 12%);
    pointer-events:none;
    mix-blend-mode: screen;
    opacity:0.9;
    transform: translateZ(0);
  } */
