.content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}
.content[aria-hidden="false"] {
  grid-template-rows: 1fr;
}
.content > div {
  overflow: hidden;
}

.accordion {  
  color: #effeef;  
  line-height: 1.5;
}

.panel {
  /* padding: 1rem; */
  /* border: 1px solid; */
}

.accordion_header {
  position: relative;
  display: flex;    
  align-items: center;
  gap: .75rem;
  /* padding: 0 .75rem; */
  padding-right: .5rem;
}

.trigger {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: transparent;
  border: 0;
  font: inherit;
  color: inherit;
  padding: 0;
  margin-right: .5rem;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.trigger > label {
  flex: 1;

  width: 100%;
}
.header_icon {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  border-radius: 50%;
  /* background-color: rgba(0, 0, 255, 0.373); */
  padding: 1px;
  
}

.header_icon svg {
  transform: rotate(0deg);
  transition: transform 500ms;
}

.trigger[aria-expanded="true"] + .header_icon svg {
  transform: rotate(90deg);
}

