.report_display_view {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0 0 1rem 1rem;
  
}
.report_display_wrapper {
  width: 100%;
  height: 100%;
}




.display_row {
  position: relative;
  width: 100%;
  background-color: rgba(219, 81, 81, 0.727);
  border-radius: 1rem;
  padding: .5rem .25rem;

  
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
}
.display_row::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(1px);
  box-shadow: inset -10px -8px 0px -11px rgba(219, 81, 81, 1),
              inset 0px -9px 0px -8px rgba(219, 81, 81, 0.727);
  opacity: 0.2;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}