.report_display_view {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 0;
  background-color: #ffffff33;
    backdrop-filter: blur(15px);
    /* border: 1px solid rgba(255, 255, 255, 0.168); */
}
.report_display_view::after {
  border-radius: 0 0 0 0;
}
.report_display_wrapper {
  width: 100%;
  height: 100%;
}




.display_row {
  position: relative;
  width: 100%;
  /* background: rgba(255, 255, 255, 0.053); */
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
}
.display_row::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(255, 255, 255, 0.1); */
  border-radius: 1rem;
  backdrop-filter: blur(1px);
  box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
              inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
  opacity: 0.2;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}


.detail_row_header_label {
  --text-align: left; 
  /* width: 100%; */
  font-size: 2rem;
  font-weight: 900;
  color: #F1F3FF;
  text-align: var(--text-align);
  padding-top: .25rem;
  padding-left: .75rem;
  text-transform: capitalize;

}
.detail_row_header_sublabel {
  --text-align: left;
  font-size: 1.25rem;
  font-weight: 600;
  color: #031602e9;
  text-align: var(--text-align);
  padding-left: 1.25rem;
  padding-bottom: .5rem;
}