/* DISPLAY PANEL CSS STYLES */
.detail_panel {
  flex: 1;
  padding: .75rem;
  border-radius: 1rem;
  color: var(--text-1);
  font-weight: 500;
  letter-spacing: 0.02em;
  backdrop-filter: blur(10px) saturate(135%);
  -webkit-backdrop-filter: blur(10px) saturate(135%);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    background 0.25s ease;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.green {
  background:
    linear-gradient(
      180deg,
      hsl(137, 61%, 42%),   /* was ~0.45 */
      hsl(159, 100%, 65%)   /* was ~0.25 */
    );

  border: 1px solid rgba(255,255,255,0.26);
  border-top-color: rgba(255,255,255,0.38);
  border-left-color: rgba(255,255,255,0.34);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.16);
}
.blue {
  background:
    radial-gradient(
      circle 200px at 50% 165%,
      rgba(77, 219, 255, 0.979),    /* was ~0.25 */
      rgba(79, 108, 255, 0.101)   /* was ~0.45 */
    );

  border: 1px solid rgba(255,255,255,0.26);
  border-top-color: rgba(77, 219, 255, 0.979);
  border-left-color: rgba(77, 219, 255, 0.829);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.16);
}
.red {
  background:
    linear-gradient(
      180deg,
      #954545,   /* was ~0.45 */
      #F07A7A   /* was ~0.25 */
    );

  border: 1px solid rgba(255,255,255,0.26);
  border-top-color: rgba(255,255,255,0.38);
  border-left-color: rgba(255,255,255,0.34);

  box-shadow:
    /* 0 6px 16px rgba(0,0,0,0.45), */
    /* 0 0 30px #954545, */
    inset 0 1px 0 rgba(255,255,255,0.16);
}
.detail_panel::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background:
    linear-gradient(
      180deg,
      rgba(255,255,255,0.28),
      rgba(255,255,255,0.10) 40%,
      rgba(255,255,255,0.00)
    );
  opacity: 0.6;
  pointer-events: none;  
}

.detail_panel_heading {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}
.detail_panel_value_label {
  font-size: 2.15rem;
  font-weight: 900;
  letter-spacing: -0.02em;
  color: #f5f7ffd9;
  text-align: center;
}


.hero_flex_content {
  display: flex;
}