.tool_bar {
  width: 100%;    
  aspect-ratio: unset;
  text-align: center;
  /* padding: .25rem 1rem; */
  padding-bottom: 0;
}

.tool_bar_row {
  display: flex;
  width: 100%;
  border-radius: 1rem;    
  
}

.toolbar_button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: .25rem;
  /* height: 100%;   */
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 4px;  
  border: 1px solid transparent;  
  background: transparent;  
  z-index: 1; 
}
.toolbar_button.active {
  background: rgba(255, 255, 255, 0.052);
  border-radius: 10px;  
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.168);  
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  color: black;
}
.toolbar_button.active:disabled {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;  
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.168);   */
  /* box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px; */
  color: rgba(0, 0, 0, 0.248);
}

.toolbar_button.dark {
  color: snow;
}
.toolbar_button.light {
  color: black;
}

.lg {
  font-size: 1.5rem;
  /* padding: 1rem; */
  font-weight: 800;
}

.md {
  font-size: 1.25rem;
  font-weight: 500;
  /* padding: .75rem; */
}

.sm {
  font-size: 1rem;
  /* padding: .5rem; */
  /* font-weight: 500; */
}