.card {
  display: flex;
  flex-direction: column;
  --max-height: 500px;
  --min-height: 500px;
  position: relative;
  min-height: var(--min-height);
  max-height: var(--max-height);
}


.body,
.flex_body {  
  flex: 1;
  height: 100%;
  /* background: rgba(255, 255, 255, 0.053); */
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
  padding: .75rem;
}
.body::after,
.flex_body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(255, 255, 255, 0.1); */
  border-radius: 1rem;
  backdrop-filter: blur(1px);
  box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
              inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
  opacity: 0.2;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);

}

.flex_body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: red; */
}


.title {
  padding: 0 .25rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: rgba(255, 250, 250, 0.848);
}


.card_toolbar {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
}
.card_toolbar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(1px);
  box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
              inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
  opacity: 0.6;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);

}

.card_table_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 0 1rem 0 1rem;
  overflow-y: scroll;
  background-color: blue;
}



.detail_row_header_label {
  --text-align: left; 
  /* width: 100%; */
  font-size: 2rem;
  font-weight: 900;
  color: #F1F3FF;
  text-align: var(--text-align);
  padding-top: .25rem;
  padding-left: .75rem;
  text-transform: capitalize;

}
.detail_row_header_sublabel {
  --text-align: left;
  font-size: 1.25rem;
  font-weight: 600;
  color: #F1F3FF;
  text-align: var(--text-align);
  padding-left: 1.25rem;
  padding-bottom: .5rem;
}

.details_row_label_row {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: .25rem .5rem;
}

.details_row_label_row_label,
.details_row_label_row_value {
  flex: 2;
  font-size: 1.25rem;
  font-weight: 700;
  color:#0316028d;
  text-transform: capitalize;
}
.details_row_label_row_value {
  flex: 1;
  text-align: right;
}

.display_row {
  position: relative;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
  
}
.display_row::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(1px);
  box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
              inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
  opacity: 0.6;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}