/***** MODAL CSS STYLES *****/

.modal_panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff33;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.168);
  border-radius: 0 0 16px 16px; 
  transform: translateY(-110%);
  transition: transform .4s cubic-bezier(.47,1.64,.41,.8);
}
.modal_panel.showing {
  transform: translateY(0%);
}