.user_list_panel {
  width: 100%;  
  border-radius: 8px;
  flex: 1;

}

.user_list_panel_title {
  width: 100%;
  padding: .25rem .5rem;
  font-size: 1.75rem;
  font-weight: 800;
  text-align: center;
  color: #fffafa;
  /* color: #504E4C; */
    border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}