.user_list_panel {
  width: 100%;    
  flex: 1;
    
}

.user_list_panel_title {
  width: 100%;
  padding: .25rem .5rem;
  font-size: 1.75rem;
  font-weight: 800;
  text-align: center;
  color: #fffafa;
  /* color: #504E4C; */
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);  
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}