.menu_grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  width: 100%;
  /* background-color: red; */
  padding: 1rem;
}
/* .menu_grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 2 1fr;
  gap: 1rem;  
  width: 100%;
  background-color: red;
  padding: 1rem;
} */

.menu_grid_row {
  display: flex;
  justify-content: center;
  /* background-color: blue; */
  gap: 1rem;
  /* padding: 0 2rem; */
  width: 100%;
  /* flex-direction: row; */
  flex-wrap: nowrap;
  /* justify-content: space-around; */
}

.menu_grid_button {
  display: flex;  
  flex-direction: column;
  gap: .5rem;
  /* flex: 1; */
  /* height: 100%; */
  width: 33%;
  max-width: 33%;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;  
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  /* border-radius: 1rem; */
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
}
.menu_grid_button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  /* border-radius: 1rem; */
  backdrop-filter: blur(1px);
  box-shadow: inset -6px -6px 0px -6px rgba(255, 255, 255, 1),
              inset 0px -6px 0px -6px rgba(255, 255, 255, 1);
  opacity: 0.6;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);

}
.menu_grid_button_title {
  font-size: 1.25rem;
}


@media (max-height: 700px) {
    /* Styles for small screens */
    .menu_grid {
        padding: .5rem 0;
    }
    .menu_grid_button  {
      flex: unset;
      padding: .5rem;
      width: 25%;
    }
    .menu_grid_button_title {
      font-size: .8rem;
    }
}

@media (max-height: 900px) {
    /* Styles for small screens */
    .menu_grid_button_title {
      font-size: 1rem;
    }
}