.nav_bar {
  width: 100%;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  aspect-ratio: unset;
  text-align: center;
}

.nav_bar_row {
  display: flex;
  width: 100%;
  border-radius: 1rem;
}


@media (max-height: 700px) {
    /* Styles for small screens */
    .nav_bar {
      padding-bottom: 1rem;
    }
}