.bottom_nav {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: 6rem;
  margin-top: .5rem;
    background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 40px 10px rgba(31, 38, 135, 0.1), 
              inset 0 4px 20px rgba(255, 255, 255, 0.1);
  position: relative;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin-bottom: calc(env(safe-area-inset-bottom));
}
.bottom_nav::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  box-shadow: inset -6px -6px 0px -6px rgba(255, 255, 255, .2),
              inset 0px -6px 0px -6px rgba(255, 255, 255, .3);
  opacity: 0.6;
  z-index: -1;
  border-radius: inherit;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}

.nav_icon {
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;    
}