.bottom_nav {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;  
  height: 75px;  
    background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
  position: relative;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
    /* padding: .5rem 0; */
  margin-bottom: calc(env(safe-area-inset-bottom));
}

.nav_icon {
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;    
}