.list_container {
  position: relative;
  flex: 1;
  width: 100%;
}

.list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}