.scroll_container {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: purple; */
  
}


.scroll_view {
  position: absolute;
  width: 100%;
  height: 100%;
  
  /* padding: 0rem 1rem 1rem 1rem; */
  overflow-y: scroll;
  /* background-color: red; */
  mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
}
.scroll_view::-webkit-scrollbar {
  display: none;
}
.horizontal_scroll {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;  
  gap: 1rem;
}


.flex_1 {
  flex: 1;
}