.div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: red;
}
.div h1 {
  font-size: 60px;
  color: white;
}