.heading_label {
  width: 100%;
  text-align: center;
}

.lg {
  font-size: 2.25rem;
  font-weight: 800;
  color: rgba(255, 250, 250, 0.728);
}

.md {
  font-size: 1.75rem;
}

.sm {
  font-size: 1.25rem;
}
.lite {
  color: snow;
}