.heading_label {
  width: 100%;
  text-align: center;
  font-family: var(--heading-font-family);  
}

.input_label {
  color: var(--lite-color);
  padding-left: .25rem;
}

.display_label,
.glass_label {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;  
  font-size: 1.5rem;
  font-weight: 800;
  color: rgb(255, 250, 250);
  border-radius: 8px;
}
.glass_label {
  padding: .5rem 0;
}
.display_label.column {
  flex-direction: column;
}

.display_label_span {
  display: flex;
  gap: .5rem;
  padding: 1rem;
  justify-content: center;
  font-size: 1.75rem;
  
}
.display_label_span.label {
  display: flex;
  flex: 2;
  justify-content: flex-start;
  gap: .5rem;
  padding: 1rem;
  border-radius: 0 8px 8px 0;
  /* background-color: rgba(255, 0, 0, 0.265); */
  border: 0;
}








.lg {
  font-size: 2.5rem;
  font-weight: 900;
  color: rgba(255, 250, 250, 0.728);
}

.md {
  font-size: 2rem;
  font-weight: 700;
}

.sm {
  font-size: 1.5rem;
  font-weight: 700;
}
.lite {
  color: var(--lite-color);
}
.dark {
  color: var(--dark-color);
}

@media screen and (max-height: 800px) {
    /* Styles for small screens */
  .lg {
    font-size: 2rem;
    font-weight: 900;
    color: rgba(255, 250, 250, 0.728);
  }

  .md {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .sm {
    font-size: 1rem;
    font-weight: 700;
  }
}