.App {
    position: absolute;
    display: flex;
    flex-flow: column;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
        background: #2e394b;
    /* background: #1D1C21 */
    /* background: hsla(252, 8%, 12%, 1);
    background: linear-gradient(45deg, hsla(252, 8%, 12%, 1) 67%, hsla(252, 8%, 12%, 1) 84%, hsla(50, 14%, 16%, 1) 98%);
    background: -moz-linear-gradient(45deg, hsla(252, 8%, 12%, 1) 67%, hsla(252, 8%, 12%, 1) 84%, hsla(50, 14%, 16%, 1) 98%);
    background: -webkit-linear-gradient(45deg, hsla(252, 8%, 12%, 1) 67%, hsla(252, 8%, 12%, 1) 84%, hsla(50, 14%, 16%, 1) 98%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1D1C21", endColorstr="#1D1C21", GradientType=1 ); */
}
.app__main__view {
    flex: 1;
    padding-bottom: 0;
}
.app__main__view > div {
    position: relative;
    width: 100%;
    height: 100%;    
    /* padding: .5em; */
}