.login_view {
  background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
  background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, #00283c 41.6%, rgb(0, 143, 213) 93.4%);
  background: radial-gradient(circle at 106.4% 21.8%, #0e48de 0%, rgb(3, 22, 65) 74.2%)
}

.login_view_start_panel,
.login_view_form_panel {
  position: absolute;
  display: flex;
  flex-direction: column;   
  gap: 2rem;
  bottom: 0;
  width: 100%;
  transform-origin: bottom center;
  transform: translateY(0%);
  transition: transform .3s cubic-bezier(0.86,0,0.07,1);;
  /* transition: transform .3s ease-in-out; */
}
.login_view_form_panel {
  gap: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 0;
  transform: translateY(0%);
}

.login_view_start_panel.hidden,
.login_view_form_panel.hidden {
  transform:  translateY(110%);
}

.login_view_header_row {
  display: flex;
  justify-content: center;
  opacity: .09;
}

.login_view_button_panel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
}

.login_view_logo_panel {
  text-align: center;
}

.login_view_p {
  margin-top: -2rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: snow;
}

.login_view_form_heading > h1 {
  font-family: "Jost", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  font-optical-sizing: auto;
  padding-top: 1rem;
  color: snow;
}

.login_view_form_p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
  color: snow;
}

