.cb_container {
  --height: calc(2rem + 2px);
  --lg-height: calc(3rem + 2px);
  --md-height: calc(2.5rem + 2px);
  --sm-height: calc(1.75rem + 2px);

    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5em;
    color: white;
}

.checkbox {
    display: grid;
    grid-template-columns: min-content auto;    
    font-size: 2rem;    
    cursor: pointer;
}
.cb_container .cb_label {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: var(--font-color);
}

.input_span {
    display: grid;
    grid-template-areas: "checkbox";
    
}

.input_span > * {
    grid-area: checkbox;
}

.input_span input {
    opacity: 0;
    width: 1em;
    height: 1em;
}
.input_span input:focus + .checkbox_input {
  outline: 0;
  border: 2px solid #2196f3;
  box-shadow: 0px 3px 2px 6px #00bbbb26, 0px -3px 2px 6px #00bbbb26; 
}

.checkbox_input {
    display: inline-grid;
    width: var(--height);
    height: var(--height);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.3); 
    background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);  
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.1);  
  overflow: hidden;
    justify-items: center;
    align-items: center;
    /* justify-content: center; */
}
.checkbox_input.lg {
  width: var(--lg-height);
  height: var(--lg-height);
}
.checkbox_input.md {
  width: var(--md-height);
  height: var(--md-height);
}
.checkbox_input.sm {
  width: var(--sm-height);
  height: var(--sm-height);
}
.checkbox_input svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
  color: #055046;
}

.input_span input:checked + .checkbox_input svg {
    transform: scale(1);
}